## **Data Tidying Exercise Solution**

In [1]:
#read the csv
import pandas as pd 
gapminder_df = pd.read_csv("CSVs/gapminder.csv")
gapminder_df

,continent,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,...,pop_1962,pop_1967,pop_1972,pop_1977,pop_1982,pop_1987,pop_1992,pop_1997,pop_2002,pop_2007
0,Africa,Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,...,11000948.0,12760499.0,14760787.0,17152804.0,20033753.0,23254956.0,26298373.0,29072015.0,31287142,33333216
1,Africa,Angola,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,...,4826015.0,5247469.0,5894858.0,6162675.0,7016384.0,7874230.0,8735988.0,9875024.0,10866106,12420476
2,Africa,Benin,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,...,2151895.0,2427334.0,2761407.0,3168267.0,3641603.0,4243788.0,4981671.0,6066080.0,7026113,8078314
3,Africa,Botswana,851.241141,918.232535,983.653976,1214.709294,2263.611114,3214.857818,4551.142150,6205.883850,...,512764.0,553541.0,619351.0,781472.0,970347.0,1151184.0,1342614.0,1536536.0,1630347,1639131
4,Africa,Burkina Faso,543.255241,617.183465,722.512021,794.826560,854.735976,743.387037,807.198586,912.063142,...,4919632.0,5127935.0,5433886.0,5889574.0,6634596.0,7586551.0,8878303.0,10352843.0,12251209,14326203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,Europe,Switzerland,14734.232750,17909.489730,20431.092700,22966.144320,27195.113040,26982.290520,28397.715120,30281.704590,...,5666000.0,6063000.0,6401400.0,6316424.0,6468126.0,6649942.0,6995447.0,7193761.0,7361757,7554661
138,Europe,Turkey,1969.100980,2218.754257,2322.869908,2826.356387,3450.696380,4269.122326,4241.356344,5089.043686,...,29788695.0,33411317.0,37492953.0,42404033.0,47328791.0,52881328.0,58179144.0,63047647.0,67308928,71158647
139,Europe,United Kingdom,9979.508487,11283.177950,12477.177070,14142.850890,15895.116410,17428.748460,18232.424520,21664.787670,...,53292000.0,54959000.0,56079000.0,56179000.0,56339704.0,56981620.0,57866349.0,58808266.0,59912431,60776238
140,Oceania,Australia,10039.595640,10949.649590,12217.226860,14526.124650,16788.629480,18334.197510,19477.009280,21888.889030,...,10794968.0,11872264.0,13177000.0,14074100.0,15184200.0,16257249.0,17481977.0,18565243.0,19546792,20434176
141,Oceania,New Zealand,10556.575660,12247.395320,13175.678000,14463.918930,16046.037280,16233.717700,17632.410400,19007.191290,...,2488550.0,2728150.0,2929100.0,3164900.0,3210650.0,3317166.0,3437674.0,3676187.0,3908037,4115771

In [2]:
#fetch the columns that are related to GDP and assign them to a new dataframe
gapminder_df_gdp = gapminder_df.loc[:,'gdpPercap_1952':'gdpPercap_2007']

In [3]:
# observe the dataframe
gapminder_df_gdp

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
0,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,5023.216647,4797.295051,5288.040382,6223.367465
1,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,2627.845685,2277.140884,2773.287312,4797.231267
2,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,1191.207681,1232.975292,1372.877931,1441.284873
3,851.241141,918.232535,983.653976,1214.709294,2263.611114,3214.857818,4551.142150,6205.883850,7954.111645,8647.142313,11003.605080,12569.851770
4,543.255241,617.183465,722.512021,794.826560,854.735976,743.387037,807.198586,912.063142,931.752773,946.294962,1037.645221,1217.032994
...,...,...,...,...,...,...,...,...,...,...,...,...
137,14734.232750,17909.489730,20431.092700,22966.144320,27195.113040,26982.290520,28397.715120,30281.704590,31871.530300,32135.323010,34480.957710,37506.419070
138,1969.100980,2218.754257,2322.869908,2826.356387,3450.696380,4269.122326,4241.356344,5089.043686,5678.348271,6601.429915,6508.085718,8458.276384
139,9979.508487,11283.177950,12477.177070,14142.850890,15895.116410,17428.748460,18232.424520,21664.787670,22705.092540,26074.531360,29478.999190,33203.261280
140,10039.595640,10949.649590,12217.226860,14526.124650,16788.629480,18334.197510,19477.009280,21888.889030,23424.766830,26997.936570,30687.754730,34435.367440
141,10556.575660,12247.395320,13175.678000,14463.918930,16046.037280,16233.717700,17632.410400,19007.191290,18363.324940,21050.413770,23189.801350,25185.009110

In [4]:
# melt the GDP-related dataframe
gapminder_df_gdp =pd.melt(gapminder_df_gdp)
gapminder_df_gdp.head()

         variable        value
0  gdpPercap_1952  2449.008185
1  gdpPercap_1952  3520.610273
2  gdpPercap_1952  1062.752200
3  gdpPercap_1952   851.241141
4  gdpPercap_1952   543.255241

In [5]:
#rename the columns 
gapminder_df_gdp =gapminder_df_gdp.rename(columns={'value':'GDP Value'})
gapminder_df_gdp.head()

         variable    GDP Value
0  gdpPercap_1952  2449.008185
1  gdpPercap_1952  3520.610273
2  gdpPercap_1952  1062.752200
3  gdpPercap_1952   851.241141
4  gdpPercap_1952   543.255241

In [6]:
#extract the Year from the variable column

gapminder_df_gdp['Year'] = gapminder_df_gdp['variable'].str.extract('(\d+)')

In [7]:
#drop the unnecessary columns 
gapminder_df_gdp = gapminder_df_gdp.drop('variable',axis=1)

In [8]:
# do the same steps for the population 

gapminder_df_pop = pd.melt(gapminder_df.loc[:,'pop_1952':'pop_2007'])
gapminder_df_pop.head()

   variable      value
0  pop_1952  9279525.0
1  pop_1952  4232095.0
2  pop_1952  1738315.0
3  pop_1952   442308.0
4  pop_1952  4469979.0

In [9]:
gapminder_df_pop['Year'] = gapminder_df_pop['variable'].str.extract('(\d+)')

In [10]:
gapminder_df_pop.head()

   variable      value  Year
0  pop_1952  9279525.0  1952
1  pop_1952  4232095.0  1952
2  pop_1952  1738315.0  1952
3  pop_1952   442308.0  1952
4  pop_1952  4469979.0  1952

In [11]:
gapminder_df_pop = gapminder_df_pop.drop('variable',axis=1)

In [12]:
gapminder_df_pop

           value  Year
0      9279525.0  1952
1      4232095.0  1952
2      1738315.0  1952
3       442308.0  1952
4      4469979.0  1952
...          ...   ...
1699   7554661.0  2007
1700  71158647.0  2007
1701  60776238.0  2007
1702  20434176.0  2007
1703   4115771.0  2007

[1704 rows x 2 columns]

In [13]:
gapminder_df_pop = gapminder_df_pop.rename(columns={'value':'population count'})

In [14]:
gapminder_df_final = pd.melt(gapminder_df.loc[:,'contient':'gdpPercap_2007'],id_vars=['continent','country'])#get the dataframe from the starting column up until gdpPercap_2007 and melt it

In [15]:
gapminder_df_final = gapminder_df_final.drop(['variable','value'],axis=1) #drop the columns var and val as they will be replaced by what has been created from the pop and gdp dfs

In [16]:
gapminder_df_final = pd.concat([gapminder_df_final,gapminder_df_pop,gapminder_df_gdp.loc[:,['GDP Value']]],axis=1)#merge the dataframes  tiegther

In [17]:
gapminder_df_final = gapminder_df_final[['continent','country','Year','population count','GDP Value']] #reorder the columns

In [18]:
gapminder_df_final.head()

  continent       country  Year  population count    GDP Value
0    Africa       Algeria  1952         9279525.0  2449.008185
1    Africa        Angola  1952         4232095.0  3520.610273
2    Africa         Benin  1952         1738315.0  1062.752200
3    Africa      Botswana  1952          442308.0   851.241141
4    Africa  Burkina Faso  1952         4469979.0   543.255241